{% load i18n %}

<!-- nakanohito -->
<div id="nakanohito">

<script LANGUAGE="Javascript">
<!--
var refer = document.referrer;
document.write("<a href='http://nakanohito.jp/'>");
document.write("<img src='http://nakanohito.jp/an/?u=223287&h=1001274&w=128&guid=ON&t=&version=js&refer="+escape(parent.document.referrer)+"&url="+escape(parent.document.URL)+"' border='0' width='128' height='128' />");
document.write("</a>");
//-->
</script>
<noscript>
<img src="http://nakanohito.jp/an/?u=223287&h=1001274&w=128&guid=ON&t=" width="128" height="128" alt="" border="0" />
</noscript>
<!-- nakanohito end -->

</div>