{% load i18n %}
{% extends "main.html" %}
{% block title %}{{title}} - My Google Profile{% endblock %}
{% block header %}
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/utilities/utilities.js" ></script>
<script type="text/javascript" src="/jscripts/yui-plugin-dispatcher-min.js"></script>
<style type="text/css">
    .box p{
        padding-bottom: 10px!important;
    }
    .box{
        padding: 0.9em;
    }
    #map dt {
    margin:0.3em 0!important;
    }
</style>
{% endblock %}
{% block main_body %}
<script type="text/javascript">
    YAHOO.util.Event.onDOMReady(function() {
        var profile_content = YAHOO.util.Dom.get("profile_content");
        //set all the link in profile content to open in new window.
        var profile_links = profile_content.getElementsByTagName("a");
        for(var i=0;i<profile_links.length;i++){
           profile_links[i].target = "_blank"; 
        }
        //YAHOO.plugin.Dispatcher.process('profile_content', profile_content);        
    });
</script>
<div class="yui-g">

    {% if error %}
    <div class="error">
        {{error}}
    </div>
    {% endif %}

    <div id="profile_content">
        {% if profile_content %}
        {{profile_content}}
        {% endif %}
    </div>
</div>
{% endblock %}
